:root{
    --bg-color: #3B1219;
    --second-bg-color: #201314;
    --text-color: #ffffff;
    --span-color: #CE2C31;
    
    --h1-font: 4.5rem;
    --h2-font: 2.9rem;
    --p-font: 1rem;

}
*{
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

header{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    z-index: 1000;
    background: transparent;
    transition: all .50s ease;
}
header.sticky{
    background: linear-gradient(180deg, var(--second-bg-color) 20% ,  var(--bg-color)100%);
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
    padding: 16px 10%;
}

header a {
    text-decoration: none;
    color: var(--text-color);
}

.header__logo{
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
    letter-spacing: -35px;
}
span{
    color: var(--span-color);
}
.navbar ul{
    display: flex;
    list-style: none;
    margin-top: 5px;
}
/* .navbar a{
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--text-color);
    margin-left: 40px;
    transition: all .50s ease;
} */

.navbar a{
    padding: 8px 15px;
    color: var(--text-color);
    border-radius: 7px;
    backdrop-filter: brightness(88%);
    margin-right: 25px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.navbar a:hover{
    box-shadow: 0 0 20px var(--span-color);
    color: var(--span-color);
}
#menu-icon{
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
    color: var(--text-color);
}
.hero{
    background: linear-gradient(180deg, var(--second-bg-color) 20% ,  var(--bg-color)100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 40px);
}
.hero__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--text-color);
}
.hero__img{
    width: 550px;
}


.hero__info h3{
    font-size: var(--h2-font);
    font-weight: 400;
}
.hero__info h1{
    font-size: var(--h1-font);
    line-height: 1.2;
}
.hero__info p{
    font-size: var(--p-font);
    line-height:30px;
    max-width: 465px ;
    margin-bottom: 15px;
}
.hero__social{
    margin-bottom: 30px;
}
.hero__social i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: var(--span-color);
    border: 1px solid var(--span-color);
    border-radius: 50%;
    backdrop-filter: brightness(88%);
    font-size: 30px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}
.hero__social i:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px var(--span-color);
}

.hero__main-btn .btn{
    border: 1px solid var(--span-color);
    padding: 10px 10px;
    margin-right: 17px;
    font-weight: 600;
    color: var(--span-color);
    text-decoration: none;
    border-radius: 5px;
    transition: all .50s ease;
    width: 30%;
}
.hero__main-btn{
    display: flex;
    text-align: center;
}
.hero__main-btn .btn:hover{
    background: var(--span-color);
    box-shadow: 0 0 20px var(--span-color);
    color: var(--text-color);
}

.hero__main-btn .btn-2{
    background: var(--span-color);
    border: 1px solid var(--span-color);
    padding: 10px 10px;
    width: 30%;
    margin-right: 17px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: all .50s ease;
}
.hero__main-btn .btn-2:hover{
    background: transparent;
    box-shadow: 0 0 20px var(--span-color);
    color: var(--text-color);
}

.titre h2{
    font-size: var(--h1-font);
    color: var(--text-color);
    text-align: center;
}
 section{
   padding: 20px 10%;
 }
.about{
    background: linear-gradient(180deg, var(--bg-color) 20% ,  var(--second-bg-color)100%);
    color: var(--text-color);
}
.about__me{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
.about__me-info{
    margin-bottom: 50px;
}
.about__me-info p{
    color: var(--text-color);
    font-weight: 600;
    font-size: 19px;
    line-height: 42px;
}
.about__me-info p span{
    color: var(--span-color);
    font-size: var(--p-font);
}

.about__img{
    width: 530px;
    height: 530px;
    border-radius: 50%;
    object-fit: cover;
    border: 7px solid var(--span-color);
    box-shadow: 0 0 20px var(--span-color);
}
.about__me-text h2{
    font-size: 35px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.hero__main-btn_2{
    display: flex;
    text-align: center;
}
.hero__main-btn_2 .btn-3{
    background: var(--span-color);
    border: 1px solid var(--span-color);
    padding: 10px 10px;
    width: 30%;
    margin-right: 17px;
    font-weight: 600;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
    transition: all .50s ease;
    margin-top: 70px;
}
.hero__main-btn_2 .btn-3:hover{
    background: transparent;
    box-shadow: 0 0 20px var(--span-color);
    color: var(--text-color);
}
.services__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}

.services__content--box{
    padding: 80px 40px 66px;
    background: #2d343f;
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--span-color);
    transition: all .50s ease;
    cursor: pointer;
}
.services__content--box h3{
    font-size: 30px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.services__content--box p{
    font-size: var(--p-font);
    font-weight: 400px;
    line-height: 30px;
    margin-bottom: 20px;
}
.services__content--box a{
    display: inline-block;
    font-size: 22px;
    line-height: 1.273em;
    font-weight: 700;
    padding: 7px 0;
    color: var(--text-color);
    border-bottom: 2px solid #5d6c83;
    transition: all .50s ease;
}
.services__content--box a:hover{
    border-bottom: 2px solid var(--span-color);
}
.services__content--box:hover{
    border: 1px solid var(--span-color);
    transform: translateY(-5px) scale(1.03);
}
.portfolio{
    background: linear-gradient(180deg, var(--second-bg-color) 20% ,  var(--bg-color)100%);
}
.portfolio__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
}
.portfolio__content--row img{
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}
.portfolio__content--row {
    background: var(--bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--span-color);
    padding: 20px;
    transition: all .50s ease;
    color: #745858;
}

.portfolio__content--row-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.portfolio__content--row-info h5{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}
.portfolio__content--row-info i{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
    background: var(--span-color);
}
.portfolio__content--row-info h4{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}
.portfolio__content--row:hover{
    border: 1px solid var(--span-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}
.contact{
    background: linear-gradient(180deg, var(--bg-color) 20% ,  var(--second-bg-color)100%);
}
.contact__form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4.2rem;
}
.contact__form form{
    position: relative;
    width: 600px;
}
form input,
form textarea{
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px var(--span-color);
    background: var(--second-bg-color);
    color: var(--text-color);
    margin-bottom: 20px;
    border-radius: 8px;
}
form input::placeholder,
form textarea::placeholder{
    color: #8e8c8c;
    font-size: 15px;
}
form .contact__form--send-btn{
    display: inline-block;
    padding: 11px 26px;
    background: var(--span-color);
    color: var(--text-color);
    border: 2px solid var(--span-color);
    border-radius: 8px;
    font-size: 15px;
    font-weight: 600;
    transition: all .50s ease;
    width: 30%;
}
form .contact__form--send-btn:hover{
    background: transparent;
    color: var(--span-color);
    box-shadow: 0 0 20px var(--span-color);
    cursor: pointer;
}
footer{
    padding: 22px;
    background-color: var(--second-bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__copyright p{
    color: var(--text-color);
    font-size: var(--p-font);
} 
footer i{
    width: 50px;
    height: 50px;
    background: var(--span-color);
    color: var(--text-color);
    font-size: 32px;
}
footer i:hover{
    background: transparent;
    color: var(--span-color);
    box-shadow: 0 0 20px var(--span-color);
    cursor: pointer;
}
@media (max-width: 1700px) {
    header{
        padding: 20px 8%;
    }
    header.sticky{
        padding: 14px 8%;
    }
    section{
        padding: 90px 8% 80px;
    }
    footer{
        padding: 18px 8%;
    }
    .logo{
        font-size: 28px;
    }
}
@media (max-width: 1380px) {
    header{
        padding: 20px 5%;
    }
    header.sticky{
        padding: 14px 5%;
    }
    section{
        padding: 90px 5% 80px;
    }
    footer{
        padding: 18px 5%;
    }
    .hero{
        height: 90vh;
    }
}

@media (max-width: 1290px) {
    .services__content--box{
        padding: 40px 40px 46px;
    }
    .services__content--box h3{
        font-size: 23px;
    }
}

@media (max-width: 1240px){
    .about__me{
        grid-template-columns: 1fr;
        gap: 2rem;
        text-align: center;
    }
    .about__img{
        width: 300px;
        height: 300px;
        align-items: center;
        margin: 0 auto;
    }
    .hero__main-btn_2{
        justify-content: center;
    }
    :root{
        --h1-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
}

@media (max-width: 950px){
    :root{
        --h1-font: 3.5rem;
    }
    .hero__social{
        margin-bottom: 20px;
    }
    #menu-icon{
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        background: linear-gradient(180deg, var(--bg-color) 20% ,  var(--second-bg-color)100%);
        transition: all .50s ease;
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar.active{
        right: 0;
    }
}

@media (max-width: 680px){
    .hero__info p {
        width: 100%;
    }
    .hero__img{
        display: none;
    }
    form .contact__form--send-btn{
        padding: 11px 26px;
        width: 100%;
    }
    .contact__form form{
        position: relative;
        padding: 11px 26px;
        width: 100%;
        align-items: center;
    }
}

@media (max-width: 470px){
    :root{
        --h1-font: 50px;
        --h2-font: 30px;
    }
    .about__img img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 auto;
    }
}